section {
  width: 1440px;
  height: 800px;
  background-image: url("./photo/Group\ 7.png");
  margin: 0 auto;
  display: flex;
  j
}
.bigsectdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  width: 58%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sectdiv2 {
  width: 42%;
  height: 100%;
  background-image: url("./photo/Bitmap.jpg");
  background-position: center;
  background-size: cover;
}
.leftdiv {
  width: 830px;
  height: 90%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
button {
  width: 100px;
  height: 56px;
  border-radius: 35px;
  margin-left: -50px;
  background-color: #ee8b8b;
  font-size: 30px;
  border: none;
  color: white;
}
input {
  width: 445px;
  height: 56px;
  border-radius: 35px;
  border: 1px solid #ce9898;
  font-size: 25px;
}
.inputdiv {
  display: flex;
}
h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 71px;
  color: #423a3a;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ce9898;
  width: 444px;
  height: 84px;
}
