section {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-image: url("./photo/Group\ 7.png");
  display: flex;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  flex-wrap: wrap;
}

.bigsectdiv {
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sectdiv2 {
  width: 40%;
  height: 800px;
  background-image: url("./photo/Bitmap.jpg");
  background-position: center;
  background-size: cover;
}
.leftdiv {
  width: 90%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
button {
  width: 100px;
  height: 56px;
  border-radius: 35px;
  margin-left: -50px;
  background-color: #ee8b8b;
  font-size: 30px;
  border: none;
  color: white;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}

button:hover {
  background-color: #e3a6a6;
  cursor: pointer;
}
input {
  width: 445px;
  height: 56px;
  border-radius: 35px;
  border: 1px solid #ce9898;
  font-size: 28px;
  color: #ce9898;
}
input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ce9898;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.inputdiv {
  display: flex;
}
h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 71px;
  color: #423a3a;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ce9898;
  width: 444px;
  height: 84px;
}
p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #f96464;
  margin-left: 30px;
}
.img1 {
  width: 24px;
  height: 24px;
  display: none;
  margin-left: 10px;
}
.lastdiv {
  display: flex;
}
@media (max-width: 376px) {
  section {
    background-image: none;
    background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  }
  .sectdiv2 {
    width: 374px;
    height: 350px;
    background-position: center;
    background-size: cover;
  }
  h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
  }
  .leftdiv {
    width: 374px;
  }
  h2 {
    width: 311px;
    height: 88px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  input {
    width: 311px;
    height: 48px;
  }
  button {
    width: 64px;
    height: 48px;
  }
  .inputdiv {
    width: 250px;
    height: 50px;
  }
  input {
    width: 250px;
    height: 50px;
  }
  h2 {
    width: 300px;
  }
  .titlediv {
    width: 250px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 100px;
  }
  button {
    margin-top: 0.8px;
  }
}
